%ul.list-group
  %li.list-group-item
    %input{id: "box-#{done_todo.id}", type: "checkbox", checked: "checked"}
    %label{for: "box-#{done_todo.id}"}
    %p
      = done_todo.title
    = link_to "削除", "/goals/#{done_todo.stage.goal.id}/stages/#{done_todo.stage.id}/todos/#{done_todo.id}", method: "delete"