.container.position-relative{style: 'width:60%; margin-top: 40px'}
  = form_with model: @goal do |f|
    .form-group
      = f.label :title, "目標"
      = f.text_field :title, class: "form-control"
    .form-group
      = f.label :detail, "詳細"
      = f.text_area :detail, class: "form-control", rows: "3"
    .d-flex.justify-content-end
      .form-group{{style: 'width:30%'}}
        = f.label :start, "開始日"
        = f.date_select :start, {}, class: "form-control"
      .form-group{style: 'width:30%; margin-left: 20px'}
        = f.label :end, "終了目標日"
        = f.date_select :end, {}, class: "form-control"
    = f.submit "作成", class: "btn btn-dark position-absolute", style: 'right:20px'