!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ObjetivoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .d-flex.justify-content-between{style: 'padding: 10px;'}
        = link_to root_path do
          %button.btn.btn-outline-primary
            OBJETIVO
        - if user_signed_in?
          .header-right-box
            = link_to edit_user_registration_path do
              %button.btn.btn-outline-primary
                設定
            = link_to destroy_user_session_path, method: :delete do
              %button.btn.btn-outline-primary
                ログアウト
        - else
          .header-right-box
            = link_to new_user_registration_path do
              %button.btn.btn-outline-primary
                新規登録
            = link_to new_user_session_path do
              %button.btn.btn-outline-primary
                ログイン

    = yield
